a:link {color: #000000;
    text-transform:none;
    /**清除下划线*/
    text-decoration:none;}
a:hover {color: #7cc815; text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:underline;}

/******主要内容*******/
.body-main{
    width: 1200px;
    margin: 0 auto;
}
/**图片放大镜及参数**/
.main-top{
    width: 1200px;
    height: 600px;
}
.main-top-left{
    width: 350px;
    height: 500px;
    float: left;
}
.main-top-right{
    width: 800px;
    height: 500px;
    margin-left: 45px;
    border: solid 1px;
    float: left;
}
.top-right-item{
    width: 700px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    padding-left: 50px;
    border: #0abdfe solid 1px;
}
.item{
    font-family: 微软雅黑;
    font-size: 10pt;
    float: left;
}
.item-inf{
    height: 34px;
    height: auto;
    border: #d4d4d4 solid 1px;
    font-family: 微软雅黑;
    font-size: 10pt;
    text-align: center;
    line-height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 8px 0 0 10px;
    float: left;
}
.item-inf:hover{
    border: red solid 1px;
    cursor: pointer;
}
/**购物车加减**/
.increment{
    width: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 16pt;
    float: left;
}
.sum{
    height: 30px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
}
/****主要信息****/
.main-inf{
    width: 1200px;
    height: 500px;
}
/**左侧**/
.main-inf-left{
    width: 200px;
    height: 500px;
    border: solid 1px;
    float: left;
}
/**右侧**/
.main-inf-right{
    width: 960px;
    height: auto;
    margin-left: 35px;
    margin-bottom: 100px;
    border: solid 1px;
    float: left;
}
/**左侧详细信息**/
.change-left{
    width: 100px;
    height: 50px;
    float: left;
}
.change-border{
    width: 99px;
    height: 50px;
    float: left;
}
.change-borderLeft{
    width: 99px;
    height: 50px;
    float: left;
    border-right:#d4d4d4 solid 1px;
    border-bottom:#d4d4d4 solid 1px;
}
.change-borderRight{
    width: 99px;
    height: 50px;
    float: left;
    border-left:#d4d4d4 solid 1px;
    border-bottom:#d4d4d4 solid 1px;
}

.change-right{
    width: 99px;
    height: 50px;
    border-left:#d4d4d4 solid 1px;
    border-bottom:#d4d4d4 solid 1px;
    float: left;
}
.tab-pane{
    display:none;
}
.active{
    display:block;
}
.change-content{
    width: 197px;
    height: 50px;
    border: solid 1px;
    float: left;
}
.part-list{
    width: 198px;
    height: 60px;
}
.part-list li{
    width: 85px;
    padding-left: 10px;
    font-size: 10pt;
    margin-top: 10px;
    float: left;
    border-bottom: #d4d4d4 solid 1px;
    list-style-type:none;
}
.part-item{
    width: 200px;
    height: 330px;
    margin-top: 110px;
}
.item-list{
    width: 200px;
    height: 200px;
}
/**右侧详细信息**/
.change-inf{
    width: 960px;
    height: 50px;
    border:#d4d4d4 solid 1px;
}
.inf-item{
    width: 150px;
    height: 50px;
    float: left;
}
.change-inf-main{
    width: 960px;
    height: auto;
}
.goods-intro{
    width: 200px;
    height: 60px;

}
.goods-intro li{
    width: 200px;
    padding-left: 10px;
    font-size: 10pt;
    margin-top: 10px;
    text-align: left;
}
.intro-detail{
    width: 960px;
}
