a{color: #000000;}
a:link {color: #000000;
    text-transform:none;
    /**清除下划线*/
    text-decoration:none;}
a:hover {color: #7cc815; text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:underline;}


/******主要内容*******/
.main{
    width: 1200px;
    margin: 0 auto;
}
.content-main{
    width: 1200px;
    height: 700px;
}
.content-left{
    width: 200px;
    height: 600px;
    font-size: 10pt;
    float: left;
}
.content-left-top{
    width: 200px;
    height: 70px;
    background-color: #F5F5F5;
    border: #1aa5fb solid 1px;
}
.content-left-bottom{
    width: 200px;
    height: 450px;
    background-color: #F5F5F5;
    margin-top: 30px;
}
.content-left-list{
    width: 180px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: solid  1px #d4d4d4;
}
/**a对象在未被访问前的样式表属性*/
.content-left-list a:link{
    text-transform:none;
    text-decoration:none;
    color: #2b2b2b;
}
/**设置对象在其鼠标悬停时的样式表属性*/
.content-left-list a:hover{
    text-decoration:none;
    color: #00ff00;
}
/**a对象在其链接地址已被访问过时的样式表属性*/
.content-left-list a:visited{
    text-decoration:none;
    coler:#ff5809;
}
/**设置对象在被用户激活（在鼠标点击与释放之间发生的事件）时的样式表属性*/
.content-left-list a:active{}
.content-left-list a{color:#006400;}
/**右侧*/
.content-right{
    width: 960px;
    height: 600px;
    margin-left: 35px;
    font-size: 10pt;
    border: #1aa5fb solid 1px;
    float: left;
}
.right-top{
    width: 960px;
    height: 30px;
    line-height: 30px;
    background-color: #F5F5F5;
    text-align: center;
}
.right-top-list{
    width: 100px;
    float: left;
}
.right-main{
    width: 960px;
    height: 130px;
    margin-top: 30px;
}
.right-main-top{
    width: 960px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #F5F5F5;
}
.main-top-list{
    width: 200px;
    float: left;
}
.main-content{
    width: 960px;
    height: 100px;
    line-height: 50px;
}
.main-content-list{
    width: 100px;
    float: left;
}
