a{color: #000000;}
a:link {color: #000000;
    text-transform:none;
    /**清除下划线*/
    text-decoration:none;}
a:hover {color: #7cc815; text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:underline;}

/******确认订单信息******/
.order{
    width: 1200px;
    margin: 0 auto;
}
.all-order{
    width: 1200px;
    height: 600px;
}
.order-main{
    width: 1200px;
    height: auto;
    border: solid 1px;
}
.main-list{
    width: 1140px;
    height: auto;
    margin-left: 30px;
    padding-bottom: 60px;
    border-bottom: #d4d4d4 solid 1px;
}
.main-list-item{
    height: 30px;
    line-height:30px;
    margin:10px 0 0 10px;
    float: left;
}
.order-base{
    width: 1200px;
    height: 150px;
    margin-top: 50px;
}
.base-item{
    width:1150px;
    height: 70px;
    font-size: 10pt;
    padding-right: 50px;
    background-color: #FFCDE0;
    text-align: right;
}
.base-item-sub{
    width: 120px;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    background-color: #fff137;
    text-align: center;
    float: right;
}
/*****选中对号******/
.check-box{
    width: 120px;
    height: 30px;
    border: 2px solid #FF3333;
    position: relative;
    transition: all 0.5s ease;}
.check-box::after {
    content: '✔';
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    color:#fff;
    /**对号大小*/
    font-size: 14px;
    line-height: 10px;
    border: 10px solid;
    border-color: transparent #FF3333 #FF3333 transparent;;
}
