a:link {color: #000000;
    text-transform:none;
    /**清除下划线*/
    text-decoration:none;}
a:hover {color: #7cc815; text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:underline;}

/*******主要内容*******/
.paysuccess{
    width: 1200px;
    margin:  0 auto;;
    font-family: 微软雅黑;
    border: #d4d4d4 solid 1px;
}
.success{
    width: 400px;
    height: 300px;
    margin: 50px 0 0 400px;
}
.paydetail{
    width: 300px;
    height: 200px;
    margin:  5px 0 0 50px;
}
.button{
    margin-top: 30px;
}
.sui-btn{
    text-align: center;
    margin: 10px 0 0 0;
    padding:10px 20px 10px 20px;
    border: cornflowerblue solid 1px;
    background-color: #fff137;

}
