form{
    width: 100%;
    height: 390px;
    text-align:center;
    float: left;
}
input,select{margin-top:2px;}
.main-top{
    width: 100%;
    height: 60px;
    font-size: 16px;
    line-height:50px;
    border: solid 1px #dddddd;
    background-color: #d2d2d2;
    float: left;
}
#table_a{
    width: 60%;
    height: 365px;
    margin-top: 50px;
    margin-left: 20%;
}
.table_a_1{
    width: 29.8%;
    height: 45px;
    text-align: right;
    line-height:45px;
    float: left;
}
.table_a_2{
    width: 70%;
    height: 45px;
    line-height:45px;
    float: left;
}
.table_a_3{
    width: 100%;
    height: 30px;
    margin-top: 30px;
    line-height:30px;
}
.el-input{
    width: 50%;
    height: 35px;
    float: left;
    margin-top: 5px;
}