/**a对象在未被访问前的样式表属性*/
a:link{
	text-transform:none;
	text-decoration:none;
}
/**a对象在其链接地址已被访问过时的样式表属性*/
a:hover{
	text-transform:none;
	text-decoration:none;
}
/**设置对象在其鼠标悬停时的样式表属性*/
a:visited{
	text-decoration:none;
}
/**设置对象在被用户激活（在鼠标点击与释放之间发生的事件）时的样式表属性*/
a:active{}
a{color:#006400;}
